<div class="container">
  <div class="ui card">
    <h1>Team Generator</h1>
    <ul class="list">
      <li *ngFor="let member of members">{{ member }}</li>
    </ul>
    <div class="add-members-container">
      <input #addMeemberInput type="text" placeholder="Name" (input)="onInput(addMeemberInput.value)"
        [value]="newMemberName" />
      <button (click)="addMember()">Add</button>
    </div>
    <div class="input-container">
      <input #numberOfTeamsInput type="text" placeholder="# of teams"
        (input)="onNumberOfTeamsInput(numberOfTeamsInput.value)" [value]="numberOfTeams" />
      <button (click)="generateTeams()">Generate</button>
    </div>
    <p *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</p>
  </div>
</div>

<!-- NOTE (mfragger) :: probably put this in a separate component -->
<div class="container" *ngFor="let team of teams; index as i">
  <h2>Team {{i + 1}}</h2>
  <div class="ui card">
    <ul class="list">
      <li *ngFor="let member of team">{{ member }}</li>
    </ul>
  </div>
</div>